APP_NAME = "mini_RAG"
APP_VERSION="0.1"
OPENAI_API_KEY=""

FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000

MONGO_URI="mongodb://admin:admin@localhost:27007/mini_rag?authSource=admin"
MONGO_DB_NAME="mini_rag"

# ============================LLM Config============================

GENERATION_BACKEND = "OPENAI"
EMBEDDING_BACKEND = "COHERE"

OPENAI_API_KEY="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"
OPENAI_API_URL= 'http://localhost:11434/v1/'
COHERE_API_KEY="kS318CYKxikCnWPU70LIIrK9OmmI5Olxp5zXL3ix"


GENERATION_MODEL_ID="qwen2.5:7b"
EMBEDDING_MODEL_ID="embed-multilingual-light-v3.0"
EMBEDDING_MODEL_SIZE=384


INPUT_DEFAULT_MAX_CHARACTERS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1

# ========================= Vector DB Config =========================
VECTOR_DB_BACKEND_LITERAL = ["QDRANT", "FAISS"]
VECTOR_DB_BACKEND="QDRANT"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METHOD="cosine"

# ========================= Template Configs =========================
PRIMARY_LANG = "ar"
DEFAULT_LANG = "ar"